/* Copyright (C) 2009 - 2012 Shopiy, Shopiy许可协议 (http://www.shopiy.com/license) */
html,body,body div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,figure,footer,header,hgroup,menu,nav,section,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;}
article,aside,figure,footer,header,hgroup,nav,section{display:block;}
img,object,embed{max-width:100%;}
html{overflow-y:scroll;height:100%;}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0;}
input,select{vertical-align:middle;}
pre{white-space:pre;white-space:pre-wrap;white-space:pre-line;word-wrap:break-word;}
ul{list-style:none;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent;}
del{text-decoration:line-through;}
abbr[title],dfn[title]{border-bottom:1px dotted #000;cursor:help;}
table{border-collapse:collapse;border-spacing:0;}
th{font-weight:bold;vertical-align:bottom;}
td{font-weight:normal;vertical-align:top;}
select,input,textarea{font:99% sans-serif;}
table{font-size:inherit;font:100%;}
a:hover,a:active{outline:none;}
small{font-size:85%;}
strong,th{font-weight:bold;}
td,td img{vertical-align:top;}
sub,sup{font-size:75%;line-height:0;position:relative;}
sup{top:-0.5em;}
sub{bottom:-0.25em;}
pre,code,kbd,samp{font-family:monospace,sans-serif;}
.clickable,label,input[type=button],input[type=submit],button{cursor:pointer;}
button,input,select,textarea{margin:0;}
button{width:auto;overflow:visible;}
.ie7 img{-ms-interpolation-mode:bicubic;}
.ie6 html{filter:expression(document.execCommand("BackgroundImageCache",false,true));}
.clearfix:before,.clearfix:after,.wrapper:before,.wrapper:after{content:"\0020";display:block;height:0;overflow:hidden;}
.clearfix:after,.wrapper:after{clear:both;}
.clearfix,.wrapper{zoom:1;}
.clearer{background:none;border:0;clear:both;display:block;float:none;font-size:0;list-style:none;margin:0;padding:0;overflow:hidden;visibility:hidden;width:0;height:0}
body,select,input,textarea{color:rgba(0,0,0,0.8);font-size:12px;font-family:"微软雅黑", "Microsoft YaHei", "Helvetica", "Tahoma", "StSun", "宋体", "SimSun", sans-serif;line-height:1.6em;}
.no-rgba body{color:#333;}
select,input,textarea{color:#000;}
a{color:rgba(0,0,0,0.6);text-decoration:none;}
.no-rgba a{color:#666;}
a:hover{color:rgba(0,0,0,1);}
.no-rgba a:hover{color:#000;}
::-moz-selection{background:#eee;color:#666;text-shadow:none;}
::selection{background:#eee;color:#666;text-shadow:none;}
a:link{-webkit-tap-highlight-color:#fcd700;}
em{font-style:normal;}
ins{background-color:#fcd700;color:#000;text-decoration: none;}
mark{background-color:#fcd700;color:#000;font-style:italic;font-weight:bold;}
textarea, input[type='text'], input[type='password'],input[type='number'], input[type='email'], input[type='url'], input[type='tel'], select{padding:5px 8px;}
input[type='text'], input[type='password'], input[type='number'], input[type='email'], input[type='url'], input[type='tel']{width:16em;border:1px solid #b3b3b3;}
textarea{border:1px solid #b3b3b3;}
input[type='text']:focus, input[type='password']:focus, input[type='number']:focus, input[type='email']:focus, input[type='url']:focus, input[type='tel']:focus, textarea:focus{border-color:#666;}
body{min-height:100%;min-width:980px;background-color:#EDECE9;}
.wrapper{width:1200px;margin:0px auto;clear:both;}
#main .wrapper{padding-top:10px;background-color:rgba(255,255,255,0.8);border-radius:5px;}
.no-rgba #main .wrapper{background:transparent url('../img/t/w8.png') repeat;}
#main .col_main{float:left;width:770px;}
#main .col_sub{float:left;width:310px;}
.error_box,.notice_box,.success_box{clear:both;padding:9px;margin-bottom:10px;border:1px solid #ddd;line-height:1.2em;border-radius:5px;}
.error_box{background:#fbe3e4;color:#8a1f11;border-color:#fbc2c4;}
.notice_box{background:#fff6bf;color:#514721;border-color:#ffd324;}
.success_box{background:#e6efc2;color:#264409;border-color:#c6d880;}
.error_box a{color:#8a1f11;}
.notice_box a{color:#514721;}
.success_box a{color:#264409;}
.center{text-align:center;}
.hidden{display:none;}
input[name=captcha]{text-transform:uppercase;width:4em !important;}
img.captcha{margin-left:5px}
.bright_table{border-top-color:#aacded;border-left-color:#aacded;}
.bright_table th,.bright_table td{border-bottom-color:#aacded;border-right-color:#aacded;}
.bright_table th{background:#deedf9;}
.data_table{width:100%;border-width:0;}
.data_table tr{background-color:#fff;}
.data_table .odd{background-color:#fff}
.data_table .even{background-color:#f8f8f8 !important;}
.data_table td.last,.data_table th.last{border-right-width:0;}
.data_table tr.last th,.data_table tr.last td{border-bottom-width:0;}
.data_table th{padding:8px 10px;color:#444;text-align:left;white-space:nowrap;border-right:1px solid #ddd;border-bottom:1px solid #ddd;}
.data_table th.wrap{white-space:normal;}
.data_table th a,.data_table th a:hover{color:#fff;}
.data_table td{padding:8px 10px;}
.data_table thead th{background-color:#f6f6f6;border-bottom-width:0;border-right-width:0;}
.data_table tbody{border-top:1px solid #eee;border-bottom:1px solid #eee;}
.data_table tbody td{border-bottom-width:0;border-right-width:0;}
.data_table tbody th{background-color:#f6f6f6;border-bottom-width:0;border-right:1px solid #eee;}
.data_table tbody.odd tr{background-color:#f8f7f5 !important;}
.data_table tbody.even tr{background-color:#f6f6f6 !important;}
.data_table tbody.odd tr td,.data_table tbody.even tr td{border-bottom:0;}
.data_table tbody.odd tr.border td,.data_table tbody.even tr.border td{border-bottom:1px solid #d9dde3;}
.data_table tbody td h5.title{margin:0;padding:0;color:#2f2f2f;font-size:1em;}
.data_table tbody td .option-label{font-style:italic;}
.data_table tbody td .option-value{padding-left:10px;}
.data_table tfoot tr{background-color:#fcfcfc !important;}
.data_table tfoot td{border-bottom-width:0;}
.data_table tfoot td.last{border-right-width:0;}
dl.table{padding:5px;line-height:20px;background:#fff;border:1px solid #eee;}
dl.table dt{margin-bottom:-27px;padding-left:10px;line-height:27px;}
dl.table dt.title{margin-bottom:5px;color:#444;background-color:#f6f6f6;border-bottom:1px solid #eee;}
dl.table dd{padding:5px 6px 5px 150px;line-height:19px;background-color:#f8f8f8;}
dl.table dd.even{background-color:transparent;}
ul.text_list li{padding:5px 10px;border-top:1px dashed rgba(0,0,0,0.1);}
ul.text_list li:first-child{border-top-width:0;}
ul.text_list li .type a{display:block;padding-right:5px;}
dl.table dd.head{margin-bottom:5px;border-bottom:1px solid rgba(0,0,0,0.2);}
dl.table dt.group{margin-top:5px;color:#000;}
dl.table dd.group{margin-top:5px;margin-bottom:5px;border-bottom:1px dotted rgba(0,0,0,0.5);}
dl.table dd:after{clear:both;content:'.';display:block;visibility:hidden;height:0}
dl.table dd{display:inline-block}
* html dl.table dd{height:1%}
dl.table dd{display:block}
dl.table.col4 .col{display:inline-block;width:180px;}
dl.text_list{padding:3px;line-height:20px;background:#fff;border:1px solid #e8e8e8;}
dl.text_list dt{margin-bottom:-25px;padding-left:6px;line-height:25px;}
dl.text_list dt.title{margin-bottom:3px;color:#fff;}
dl.text_list dd{padding:3px 6px 3px 114px;line-height:19px;border-top:1px dashed #999;}
dl.text_list dd:after{clear:both;content:'.';display:block;visibility:hidden;height:0}
dl.text_list dd{display:inline-block}
* html dl.table dd{height:1%}
dl.text_list dd{display:block}
dl.text_list dd.first{border-top-width:0;}
dl.text_list em,dl.text_list a{padding:0 3px;}
.price_list{padding:3px;background:#fff;border:1px solid #e8e8e8;}
.price_list dt{float:left;width:100px;padding:6px 9px;line-height:20px;}
.price_list dd{padding:3px 9px 3px 114px;}
.price_list dd .title{padding:3px 5px;font-weight:bold;line-height:20px;border-bottom:2px solid #eaeaea;}
.price_list dd .item{padding:3px 5px;line-height:20px;border-bottom:1px solid #e8e8e8;}
.price_list dd .item:last-child{border-bottom-width:0;}
.price_list dd p .price{float:right;width:200px;}
.ie6 .price_list dd p .price, .ie7 .price_list dd p .price{margin-top:-25px;}
.form{float:left;padding:.5em 0;position:relative}
.form fieldset{width:auto;margin:0 1em}
.form h4{margin:0 0 .6em;color:#000;font-size:18px;}
.form label,.form .label{float:left;display:block;padding:5px 0;width:100%;}
.ie6 .form label, .ie7 .form label, .ie6 .form .label, .ie7 .form .label{clear:both;}
.form label input,.form label textarea,.form label select,.form .label select{float:left;margin-left:10px;}
.ie6 .form select, .ie7 .form select{float:none;}
.form label .directions{float:left;display:inline-block;width:40em;clear:both;margin-left:10em;padding-left:10px;padding-top:5px;}
.form label .to{float:left;display:block;padding:5px 0 0 10px;}
.form label .status{display:inline-block;width:16px;height:16px;padding-left:5px;vertical-align:middle;}
.form label .valid{background:url('../img/checkmark.png') no-repeat right top;}
.form label .invalid{background:url('../img/cross.png') no-repeat right top;}
.form label b,.form .label b{float:left;width:10em;padding:5px 0 4px;font-weight:normal;display:block;}
.form .label em,.form label em{float:left;margin-left:10px;padding:5px 0;}
.form .required b:before{content:'*';margin-right:3px;color:#f53;font-size:1.5em;line-height:0.5em;font-weight:normal;}
.form .required b .before{margin-right:3px;color:#f53;font-size:1.5em;line-height:0.5em;font-weight:normal;}
.form .required_tip{color:#999;font-size:96%;font-weight:normal;position:absolute;top:.4em;right:2em;left:auto;width:13em;text-align:right}
.form .required_tip b{color:#f53;font-size:140%}
.form label textarea{width:450px}
.form div.submit_wrap{float:left;clear:both;padding:5px 0 5px 10em}
.form input[type=submit], .form div.submit_wrap input[type=button]{margin:0 5px 0 10px}
.form fieldset.checkbox_wrap,.form fieldset.radio_wrap{margin:0;}
.form fieldset.checkbox_wrap fieldset,.form fieldset.radio_wrap fieldset{float:left;width:auto;margin-left:10px}
.form fieldset.checkbox_wrap label,.form fieldset.radio_wrap label{clear:none;float:left;width:auto;border:none;margin:0;padding:4px 0;margin-right:15px}
.form label [type=checkbox], .form label [type=radio]{width:auto;float:none;margin:0;margin-right:3px}
.empty{display:block;padding:50px 0;color:#999;font-size:1.5em;text-align:center;}
a.button, a.button:hover{color:#fff;}
.button, .button:visited, input[type=button], input[type=submit], input[type=reset]{position:relative;display:inline-block;padding:7px 15px 7px 18px;color:#fff;letter-spacing:0.2em;line-height:1em !important;border-radius:5px;cursor:pointer;text-decoration:none;text-shadow:0 1px 1px rgba(0,0,0,0.3);background-color:#333;border:none;border-bottom: 1px solid rgba(0,0,0,0.25);box-shadow:0 1px 3px rgba(0,0,0,0.5);background-image:-webkit-linear-gradient(top, #666, #333);background-image:-moz-linear-gradient(top, #666, #333);background-image:-o-linear-gradient(top, #666, #333);background-image:-ms-linear-gradient(top, #666, #333);-pie-background:linear-gradient(#666, #333);opacity:1;-webkit-transition:opacity 0.5s ease-out;-moz-transition:opacity 0.5s ease-out;-o-transition:opacity 0.5s ease-out;-ms-transition:opacity 0.5s ease-out;vertical-align:middle;}
.button:hover, input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover{color:#fff;opacity:0.8;-webkit-transition:opacity 1s ease-out;-moz-transition:opacity 1s ease-out;-o-transition:opacity 1s ease-out;-ms-transition:opacity 1s ease-out;}
.button:active, input[type=button]:active, input[type=submit]:active, input[type=reset]:active{opacity:0.5;-webkit-transition:opacity 0.1s ease-out;-moz-transition:opacity 0.1s ease-out;-o-transition:opacity 0.1s ease-out;-ms-transition:opacity 0.1s ease-out;}
a.text_button{color:#666;}
a.text_button:hover{color:#000;}
.text_button, .text_button:visited{color:rgba(0,0,0,0.6);text-shadow:none;background-color:transparent;background-image:none;-pie-background:none;border:none;box-shadow:none;}
.no-rgba .text_button, .no-rgba .text_button:visited{color:#666;}
.text_button:hover{color:rgba(0,0,0,1);}
.no-rgba .text_button:hover{color:#000;}
.tool_link{margin-left:10px;font-size:14px;vertical-align:middle;}
a.dim_button, a.dim_button:hover{color:#666;}
.dim_button, .dim_button:visited, input[type=button].dim_button, input[type=submit].dim_button, input[type=reset]{color:#666;background-color:#eee;text-shadow:0 1px 1px rgba(255,255,255,0.8);border-bottom: 1px solid rgba(0,0,0,0.25);box-shadow:0 0 3px rgba(0,0,0,0.3);background-image:-webkit-linear-gradient(top, #fff, #ddd);background-image:-moz-linear-gradient(top, #fff, #ddd);background-image:-o-linear-gradient(top, #fff, #ddd);background-image:-ms-linear-gradient(top, #fff, #ddd);-pie-background:linear-gradient(#fff, #ddd);}
.no-rgba .dim_button, .no-rgba .dim_button:visited, .no-rgba input[type=button].dim_button, .no-rgba input[type=submit].dim_button, .no-rgba input[type=reset]{color:#666;background-color:#eee;}
.dim_button:hover, input[type=button].dim_button:hover, input[type=submit].dim_button:hover, input[type=reset]:hover{color:#666;}
.no-rgba .dim_button:hover, .no-rgba .dim_button:visited:hover, .no-rgba input[type=button].dim_button:hover, .no-rgba input[type=submit].dim_button:hover, .no-rgba input[type=reset]:hover{color:#666;}
.bright_button, .bright_button:visited, input[type=button].bright_button, input[type=submit].bright_button, input[type=reset].bright_button{padding:5px 14px 5px 20px;font-size:1.5em;font-weight:bold;line-height:1.5em !important;}
.bright_button span{display:inline-block;padding:0 5px;background:url('../img/button_icon.png') no-repeat -999em top;}
.bright_button .cart{padding-left:34px;background-position:left 5px;}
.bright_button .todo{padding-left:26px;background-position:left -235px;}
.bright_button .previous{padding-left:32px;background-position:left -274px;}
.bright_button .card{padding-left:32px;background-position:left -74px;}
.bright_button .lock{padding-left:28px;background-position:left -118px;}
.bright_button .next{margin-right:3px;padding-right:29px;background-position:right -314px;}
.bright_button .download{padding-left:27px;background-position:left -355px;}
.bright_button .bullhorn{padding-left:33px;background-position:left -33px;}
.bright_button .eye{padding-left:32px;background-position:left -153px;}
.bright_button .gift{padding-left:28px;background-position:left -198px;}
#loading_box{display:none;position:fixed;right:50%;top:0;z-index:1000;padding:5px 11px 5px 31px;background:#fea url('../img/lb_loading.gif') no-repeat 10px center;color:#400;font-size:12px;border-radius:0 0 4px 4px;opacity:0.8;}
.ie6 #loading_box{position:absolute;}
.compare_inner{padding:5px;border:1px solid #ccc;}
.compare_list{padding:5px;}
.compare_list .item{position:relative;padding:5px;line-height:1.2em;border-bottom:1px dotted rgba(0,0,0,0.5);}
.compare_list .item .photo{float:left;margin:0 5px 2px 0;}
.compare_list .item .photo img{height:40px;width:40px;}
.compare_list .item .remove{position:absolute;top:5px;right:10px;visibility:hidden;padding:2px 8px;color:#fff;background:#ff8c22 url('../img/slight_bg.gif') repeat-x left -90px;text-shadow:0 0 0,0 1px 0 #c4620d;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;}
.compare_list .item:hover .remove,.compare_list .hover .remove{visibility:visible;}
.compare_box .actions{padding:5px;text-align:center;}
.tipsy{padding:8px 5px;font-size:12px;position:absolute;z-index:10001;}
.tipsy sup{font-size:14px\9;}
.tipsy-inner{padding:5px 8px;max-width:300px;color:#fff;text-align:center;text-shadow:0 0 0,0 1px 0 #000;white-space:nowrap;background-color:#1a1a1a;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;}
.tipsy-arrow{position:absolute;background:url('../img/tipsy.gif') no-repeat top left;width:9px;height:5px;}
.tipsy-n .tipsy-arrow{top:3px;left:50%;margin-left:-4px;}
.tipsy-nw .tipsy-arrow{top:3px;left:10px;}
.tipsy-ne .tipsy-arrow{top:3px;right:10px;}
.tipsy-s .tipsy-arrow{bottom:3px;left:50%;margin-left:-4px;background-position:bottom left;}
.tipsy-sw .tipsy-arrow{bottom:3px;left:10px;background-position:bottom left;}
.tipsy-se .tipsy-arrow{bottom:3px;right:10px;background-position:bottom left;}
.tipsy-e .tipsy-arrow{top:50%;margin-top:-4px;right:0;width:5px;height:9px;background-position:top right;}
.tipsy-w .tipsy-arrow{top:50%;margin-top:-4px;left:0;width:5px;height:9px;}
#colorbox,#cboxOverlay,#cboxWrapper{position:absolute;top:0;left:0;z-index:9999;overflow:hidden;}
#cboxOverlay{position:fixed;width:100%;height:100%;}
#cboxMiddleLeft,#cboxBottomLeft{clear:left;}
#cboxContent{position:relative;overflow:hidden;}
#cboxLoadedContent{overflow:auto;}
#cboxLoadedContent iframe{display:block;width:100%;height:100%;border:0;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay,#cboxLoadingGraphic{position:absolute;top:0;left:0;width:100%;}
#cboxPrevious,#cboxNext,#cboxClose,#cboxSlideshow{cursor:pointer;}
#cboxOverlay{background-color:#fff;}
#cboxTopLeft, #cboxTopRight, #cboxBottomLeft, #cboxBottomRight, #cboxMiddleLeft, #cboxMiddleRight, #cboxTopCenter, #cboxBottomCenter{display:none;}
#cboxContent{padding:14px;background-color:rgba(0,0,0,0.1);border-radius:10px;}
.no-rgba #cboxContent{background-color:#e5e5e5;}
#cboxLoadedContent{padding:7px;background:#fff;border-radius:5px;}
#cboxClose:hover, #cboxClose.hover{opacity:1;}
.cboxSlideshow_on #cboxSlideshow{background-position:-125px 0px;right:27px;}
.cboxSlideshow_on #cboxSlideshow.hover{background-position:-150px 0px;}
.cboxSlideshow_off #cboxSlideshow{background-position:-150px -25px;right:27px;}
.cboxSlideshow_off #cboxSlideshow.hover{background-position:-125px 0px;}
#cboxTitle{position:absolute;bottom:4px;left:0;text-align:center;width:100%;color:#949494;}
#cboxCurrent{position:absolute;bottom:4px;left:58px;color:#949494;}
#cboxSlideshow{position:absolute;bottom:4px;right:30px;color:#0092ef;}
#cboxPrevious{position:absolute;bottom:0;left:0px;background:#666;width:25px;height:25px;text-indent:-9999px;}
#cboxPrevious.hover{background-position:-75px -25px;}
#cboxNext{position:absolute;bottom:0;left:27px;background:#666;width:25px;height:25px;text-indent:-9999px;}
#cboxNext.hover{background-position:-50px -25px;}
#cboxLoadingOverlay{}
#cboxLoadingGraphic{background:url('../img/loader.gif') no-repeat center center;}
#cboxClose{position:absolute;bottom:20px;right:20px;background-color:rgba(0,0,0,0.1);background-image:url('../img/cross.png');background-repeat:no-repeat;background-position:7px 7px;width:30px;height:30px;text-indent:-9999px;border-radius:15px;opacity:0.8;}
.no-rgba #cboxClose{background-color:#e5e5e5;}
.message_box{position:relative;width:280px;min-height:50px;padding:20px 20px 20px 80px;font-size:14px;line-height:1.3em;overflow:hidden;}
.no-rgba .message_box{padding:20px 20px 10px 20px;}
.message_box:before{position:absolute;top:30px;left:10px;content:'i';height:60px;width:60px;color:#fff;line-height:60px;font-family:Georgia;font-size:42px;font-weight:bold;text-align:center;background-color:rgba(0,0,0,0.1);border-radius:30px;}
.ie8 .message_box:before{display:none;}
.message_box .action{padding-top:25px;text-align:center;}
.mb_question:before{content:'?';}
.mb_warning:before{content:'!';}
.ap_ajax h1{padding:0 10px;color:#fff;line-height:32px;font-size:18px;background-color:#57b5c7;}
.ap_ajax p{padding:15px 10px 10px;line-height:20px;font-size:14px;}
.cloud_zoom_lens{margin:-1px;background-color:#fff;cursor:move;border:1px solid #888;}
.cloud_zoom_title{position:absolute !important;top:0px;width:100%;padding:3px;color:#fff;font-size:12px;line-height:16px;text-align:center;background-color:#000;}
.cloud_zoom_big{overflow:hidden;border:4px solid #ccc;}
.cloud_zoom_loading{padding:3px;color:white;background:#222;border:1px solid #000;}
#properties_box{width:388px;padding:20px;}
#properties_box:before{display:none;}
.properties_wrapper{padding:14px;background-color:rgba(0,0,0,0.03);border:1px solid rgba(0,0,0,0.1);}
.no-rgba .properties_wrapper{background-color:#f7f7f7;border:1px solid #dedede;}
.properties dl{float:left;width:100%;}
.properties dt{float:left;width:100%;padding:5px 0;font-size:1.2em;}
.properties dd{float:left;width:100%;margin-bottom:10px;}
.properties label{position:relative;display:block;float:left;margin:0 5px 5px 0;padding:5px 15px;background-color:#fff;border:2px solid #eee;}
.properties label.hover{border-color:#ccc;}
.properties label.checked{color:#f53;border-color:#f53;}
.properties label.checked:before{position:absolute;top:0;left:50%;content:'';display:inline-block;width:0;height:0;overflow:hidden;margin-left:-4px;border:4px solid transparent;border-top-color:#f53;}
.properties label input{position:absolute;left:-999em;}
#top{position:relative;z-index:102;}
#account_area{float:right;height:20px;width:350px;padding:12px 0 8px;font-size:14px;line-height:20px;}
#account_area p{padding-right:10px;text-align:right;}
#account_area a{margin-left:3px;padding:0 8px;background-color:rgba(0,0,0,0.05);border-radius:4px;}
#top_nav{float:left;width:600px;padding:12px 0 8px;}
#top_nav li{position:relative;float:left;padding:0 10px;}
#top_nav li:first-child{border-left-width:0;}
#top_nav li > a.has_sub:after{content:'';display:inline-block;width:0;height:0;overflow:hidden;margin-left:2px;margin-bottom:-4px;border:4px solid transparent;border-top-color:rgba(0,0,0,0.3);vertical-align:middle;}
#top_nav li .sub_nav{display:none;position:absolute;left:50%;top:18px;z-index:100;min-width:100px;padding:5px;margin-left:-55px;background-color:rgba(0,0,0,0.5);border-radius:5px;box-shadow:0 3px 5px rgba(0,0,0,0.2);}
.no-rgba #top_nav li .sub_nav{width:100px;background-color:#7f7f7f;}
#top_nav li:hover > .sub_nav{display:block;}
.ie6 #top_nav li:hover .sub_nav{display:block;}
#top_nav li .inner{display:block;padding:10px;background-color:#fff;border-radius:3px;}
#top_nav li .inner:before{content:'';position:absolute;left:50%;top:-5px;width:0;height:0;overflow:hidden;margin-left:-5px;border:5px solid transparent;border-bottom-color:#fff;}
#top_nav li .sub_nav a{display:block;padding:2px 5px;line-height:1.3em;white-space:nowrap;}
.no-rgba #top_nav li a.has_sub .after{display:inline-block;width:8px;height:4px;overflow:hidden;margin-left:2px;background:transparent url('../img/t/icon.gif') no-repeat left top;vertical-align:middle;}
.no-rgba #top_nav li .inner .before{position:absolute;left:50%;top:1px;width:8px;height:4px;overflow:hidden;margin-left:-4px;background:transparent url('../img/t/icon.gif') no-repeat left -20px;}
#header{position:relative;z-index:101;margin-bottom:10px;}
#header_bar{clear:both;height:56px;background-color:rgba(255,255,255,0.8);border-radius:4px;}
.no-rgba #header_bar{background:transparent url('../img/t/w8.png') repeat;}
#logo{display:block;float:left;height:40px;width:150px;margin:8px 0 0 10px;font-size:18px;}
.ie6 #logo{display:inline;}
#logo:hover{opacity:0.8;}
#search_bar{float:right;position:relative;height:30px;padding:13px 15px 0 0;}
.no-rgba #search_bar{padding-top:11px;}
#search_bar input[type=text]{height:18px;width:120px;padding-right:35px;color:rgba(0,0,0,0.4);}
.ie6 #search_bar input[type="text"], .ie7 #search_bar input[type="text"]{height:16px;}
#search_bar input[type=text]:hover, #search_bar input[type=text]:focus{color:rgba(0,0,0,1);}
#search_bar input[type=submit]{position:absolute;top:13px;right:15px;height:30px;width:30px;text-indent:-999em;box-shadow:none;background:transparent url('../img/magnify_glass.png') no-repeat center center;-pie-background:none;border-width:0;opacity:0.3;-webkit-transition:opacity 0.5s ease-out;-moz-transition:opacity 0.5s ease-out;-o-transition:opacity 0.5s ease-out;-ms-transition:opacity 0.5s ease-out;}
#search_bar input[type=submit]:hover{opacity:1;-webkit-transition:opacity 1s ease-out;-moz-transition:opacity 1s ease-out;-o-transition:opacity 1s ease-out;-ms-transition:opacity 1s ease-out;}
.no-rgba #search_bar input[type=submit]{background:url('../img/t/icon.gif') no-repeat left -78px;}
#cart{position:relative;float:right;height:30px;width:85px;margin-top:13px;padding:0 15px 0 25px;border-left:1px dotted rgba(0,0,0,0.5);}
#cart .label a{display:block;height:30px;font-size:14px;line-height:30px;}
.no-rgba #cart .label a{position:relative;text-indent:30px;}
#cart .label a em{float:left;width:24px;height:18px;overflow:hidden;margin-right:6px;padding:7px 0 2px;color:rgba(255,255,255,0.9);font-size:9px;line-height:18px;text-align:center;background:url('../img/bag.png') no-repeat 0 1px;}
.no-rgba #cart .label a em{position:absolute;left:0;top:0;color:#ededed;text-indent:0;}
#cart .list{display:none;position:absolute;top:30px;right:0;z-index:100;width:310px;padding:5px;background-color:rgba(0,0,0,0.5);border-radius:5px;box-shadow:0 3px 5px rgba(0,0,0,0.2);}
.no-rgba #cart .list{background-color:#7f7f7f;}
#cart:hover .list{display:block;}
#cart .list:before{content:'';position:absolute;right:50px;top:-5px;width:0;height:0;overflow:hidden;margin-left:-5px;border:5px solid transparent;border-bottom-color:#fff;}
#cart .list .arrow{display:none;}
.no-rgba #cart .list:before{display:none;}
.no-rgba #cart .list .arrow{display:block;position:absolute;right:50px;top:1px;width:8px;height:4px;overflow:hidden;margin-left:-4px;background:transparent url('../img/t/icon.gif') no-repeat left -20px;}
#cart .inner{padding:10px;background-color:#fff;border-radius:3px;}
#cart .list .cart_empty, #cart .list .cart_loading{padding:12px 5px;font-size:14px;font-weight:bold;text-align:center;}
#cart .list li{padding:5px;}
#cart .list li.first{background-image:none;}
#cart .list .info{float:left;width:174px;padding-right:5px;font-size:12px;line-height:14px;}
#cart .list .package_goods_list{display:none;}
#cart .list .photo{display:block;float:left;width:50px;height:50px;margin-right:5px;}
#cart .list .photo img{width:50px;}
#cart .list .name{padding-top:3px;line-height:16px;}
#cart .list .name em{margin-left:3px;}
#cart .list .brand{display:block;padding-top:3px;}
#cart .list .package_name{display:block;padding:5px;font-size:14px;font-weight:bold;line-height:18px;}
#cart .list .extra_info{display:block;color:#999;}
#cart .list .extra_info em{display:inline-block;margin-left:2px;padding:2px 5px;color:#fff;white-space:nowrap;background-color:#444;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;}
#cart .list span.price{float:left;width:100px;padding-top:3px;font-weight:bold;text-align:center;}
#cart .list .action{float:left;width:100px;padding-top:3px;text-align:center;}
#cart .list .action a{display:inline-block;padding:2px 8px;background:#eee;border-radius:3px;}
#cart .list .action a:hover{color:#fff;text-decoration:none;background-color:#444;background-position:left -90px;}
#cart .list .total{margin-top:5px;padding:5px 10px;border-top:1px solid #eee;}
#cart .list .total .price{font-weight:bold;}
#cart .list .next{padding:5px 10px;text-align:right;}
#cart .list .close{position:absolute;left:20px;bottom:15px;display:none;}
#header_nav{float:left;padding:16px 12px 0;margin-left:10px;}
#header_nav li{position:relative;float:left;padding:0 2px;}
#header_nav li > a{position:relative;display:inline-block;padding:3px 10px;font-size:14px;}
#header_nav li > a.current{color:rgba(0,0,0,1);}
#header_nav li > a.has_sub:after{content:'';display:inline-block;height:12px;width:12px;margin-left:5px;background:url('../img/nav_arrow.png') no-repeat right -36px;opacity:0.5;}
#header_nav li > a.current:after{opacity:1;}
#header_nav li:hover > a.has_sub{z-index:101;padding:2px 9px 3px 9px;border:1px solid #e3e3e3;border-bottom-width:0;border-radius:3px 3px 0 0;background-color:#fff;}
#header_nav li:hover > a.has_sub:after{background-position:right 3px;opacity:1;}
#header_nav li .sub_nav{display:none;position:absolute;left:2px;top:24px;z-index:100;min-width:100px;background-color:#fff;border:1px solid #e3e3e3;border-radius:0 5px 5px 5px;box-shadow:2px 2px 2px rgba(0,0,0,0.05);}
#header_nav li:hover > .sub_nav{display:block;}
#header_nav li .inner{display:block;padding:10px;background-color:#fff;border-radius:3px;}
#header_nav li .sub_nav a{display:block;padding:2px 5px;line-height:1.3em;white-space:nowrap;}
#header_nav li .sub_nav a.current{background-color:rgba(0,0,0,0.05);border-radius:2px;}
.no-rgba #header_nav li a.has_sub .after{display:inline-block;width:12px;height:7px;overflow:hidden;margin-left:5px;background:url('../img/t/icon.gif') no-repeat left -40px;}
.no-rgba #header_nav li:hover a.has_sub .after{background-position:left -60px;}
.ie6 #header_nav li a.has_sub{margin-top:-2px;}
.ie6 #header_nav li a.has_sub .after{height:12px;}
.ie7 #header_nav li a.has_sub{margin-top:-1px;}
.ie7 #header_nav li a.has_sub .after{height:12px;}
.ie8 #header_nav li a.has_sub .after{display:none;}
.ie6 #header_nav li a{position:relative;display:inline-block;padding:3px 10px;font-size:14px;}
.ie6 #header_nav li a.current{color:rgba(0,0,0,1);}
.ie6 #header_nav li:hover a.has_sub{z-index:101;padding:2px 9px 3px 9px;border:1px solid #e3e3e3;border-bottom-width:0;background-color:#fff;}
.ie6 #header_nav li:hover .sub_nav{display:block;}
.ie6 #header_nav li .sub_nav{width:100px;}
.ie6 #header_nav li .sub_nav a{display:block;font-size:12px;line-height:1.3em;padding:2px 5px;white-space:nowrap;}
.shop_notice{margin:0 10px 10px;padding:9px 14px;font-size:14px;}
/* =footer */
#footer{margin-top:30px;}
#footer .wrapper{padding:20px 0;border-top:1px solid rgba(0,0,0,0.1);}
.no-rgba #footer .wrapper{border-top:1px solid #e5e5e5;}
#links{float:left;width:960px;margin-bottom:20px;padding:10px;background-color:rgba(0,0,0,0.03);border-radius:4px;}
#links li{float:left;width:160px;padding-bottom:10px;}
#links li h4{font-size:14px;padding:10px 0 10px 20px;}
#links li li{float:none;width:auto;padding-left:20px;padding-bottom:0;}
#bottom_nav{width:660px;float:right;text-align:right;}
#bottom_nav li{display:inline;}
#bottom_nav li:after{content:'';display:inline-block;height:12px;width:0;border-right:1px dotted rgba(0,0,0,0.2);vertical-align:middle;}
#bottom_nav a{display:inline-block;padding:0 8px;color:rgba(0,0,0,0.4);}
#bottom_nav a:hover{color:rgba(0,0,0,1);}
#bottom_nav li:last-child:after{display:none;}
#bottom_nav li:last-child a{padding-right:0;}
#bottom_nav .sub_nav{display:none;}
#copyright{float:left;width:300px;color:rgba(0,0,0,0.4);}
.no-rgba #copyright{color:#999;float:left;width:300px;}
/* =content */
#content .wrapper{position:relative;}
.box{margin-bottom:10px;padding:0 10px;}
.box .hd{height:31px;border-bottom:1px solid rgba(0,0,0,0.18);}
.no-rgba .box .hd{border-bottom:1px solid #d1d1d1;}
.box .hd h3{float:left;height:28px;padding:3px 10px 0 10px;font-size:14px;line-height:28px;font-weight:normal;}
.box .hd .extra{float:right;height:28px;padding:3px 10px 0 0;line-height:28px;}
.box .bd{padding:10px 0;}
.bd:after{clear:both;content:'\0020';display:block;visibility:hidden;height:0}
.bd{display:inline-block}
* html .bd{height:1%}
.bd{display:block}
.has_tab_box .box{padding-top:39px;margin-top:-39px;}
.has_tab_box .box .hd{display:none;}
.has_tab_box .box .bd{padding:20px 0;}
.tab_wrapper{position:relative;height:39px;margin:0 10px;border-bottom:1px solid #e3e3e3;}
.tab_wrapper .tabs{float:left;height:32px;padding:7px 0 0;}
.tab_wrapper .extra{float:right;height:32px;padding:7px 0 0;}
.tab_wrapper .extra .pagination{padding-top:3px;}
.tabs .label{display:inline-block;float:left;padding:0 5px 0 10px;line-height:32px;}
.tabs a{display:block;float:left;height:31px;padding:0 20px;margin-right:4px;line-height:31px;color:rgba(0,0,0,0.4);font-size:14px;text-decoration:none;background-color:#fff;border:1px solid #e3e3e3;border-bottom-width:0;border-radius:5px 5px 0 0;background-image:-webkit-linear-gradient(top, #f2f2f2, #fff);background-image:-moz-linear-gradient(top, #f2f2f2, #fff);background-image:-o-linear-gradient(top, #f2f2f2, #fff);background-image:-ms-linear-gradient(top, #f2f2f2, #fff);outline:none;}
.no-rgba .tabs a{color:#949494;background:#f8f8f8;}
.tabs a:hover{color:#000;}
.no-rgba .tabs a:hover{color:#000;}
.tabs a.current{height:32px;color:rgba(0,0,0,0.8);background-image:-webkit-linear-gradient(top, #e8e8e8, #fff);background-image:-moz-linear-gradient(top, #e8e8e8, #fff);background-image:-o-linear-gradient(top, #e8e8e8, #fff);background-image:-ms-linear-gradient(top, #e8e8e8, #fff);}
.no-rgba .tabs a.current{color:#303030;background:#fff;}
.tabs a.current:hover{color:#000;}
.no-rgba .tabs a.current:hover{color:rgba(0,0,0,1);}
.tabs a em{opacity:0.5;-webkit-transition:opacity 0.5s ease-out;-moz-transition:opacity 0.5s ease-out;-o-transition:opacity 0.5s ease-out;-ms-transition:opacity 0.5s ease-out;}
.tabs a:hover em{opacity:1;-webkit-transition:opacity 1s ease-out;-moz-transition:opacity 1s ease-out;-o-transition:opacity 1s ease-out;-ms-transition:opacity 1s ease-out;}
.tabs .arrow_up, .tabs .arrow_down{display:inline-block;float:right;height:20px;width:20px;overflow:hidden;margin:6px -6px 0 4px;line-height:999em;background:url('../img/arrow.png') no-repeat 4px 2px;}
.ie6 .tabs .arrow_up, .ie6 .tabs .arrow_down, .ie7 .tabs .arrow_up, .ie7 .tabs .arrow_down{display:inline;float:none;vertical-align:middle;}
.tabs .arrow_down{background-position:-36px 2px;}
.tabs .number{display:none;}
.slider{position:relative;width:1180px;height:420px;}
.slider a{display:block;}
.slider img{position:absolute;top:0;left:0;width:960px;height:420px;}
.loader{display:inline-block;height:16px;width:16px;background:url('../img/loader.gif') no-repeat center center;visibility:hidden;}
.ie6 .loader, .ie7 .loader{display:inline;}
.product_list ul{float:left;width:100%;}
.product_list li{position:relative;float:left;width:180px;margin:0 15px 15px 0;-webkit-transition:opacity 0.5s ease-out;-moz-transition:opacity 0.5s ease-out;-o-transition:opacity 0.5s ease-out;-ms-transition:opacity 0.5s ease-out;}
.product_list li:nth-child(5n){clear:right;margin-right:0;}
.product_list li.last_child{clear:right;margin-right:0;}
.product_list ul:hover > li{opacity:0.5;-webkit-transition:opacity 0.5s ease-out;-moz-transition:opacity 0.5s ease-out;-o-transition:opacity 0.5s ease-out;-ms-transition:opacity 0.5s ease-out;}
.product_list ul:hover > li:hover{z-index:10;opacity:1;-webkit-transition:opacity 0.1s ease-out;-moz-transition:opacity 0.1s ease-out;-o-transition:opacity 0.1s ease-out;-ms-transition:opacity 0.1s ease-out;}
.product_list .photo, .product_list .name, .product_list .price{display:block;}
.product_list .photo img{height:180px;width:180px;vertical-align:top;}
.product_list li:hover .photo{z-index:1;-webkit-transform:scale(1.3);-moz-transform:scale(1.3);-o-transform:scale(1.3);-ms-transform:scale(1.3);-webkit-transition:all 0.1s ease-in-out;-moz-transition:all 0.1s ease-in-out;-o-transition:all 0.1s ease-in-out;-ms-transition:all 0.1s ease-in-out;}
.product_list .name{position:relative;z-index:10;float:left;height:19px;width:110px;overflow:hidden;margin-top:5px;text-overflow:ellipsis;white-space:nowrap;text-shadow:0 1px 0 rgba(255,255,255,0.8);}
.product_list .price{position:relative;z-index:10;float:right;height:19px;width:70px;overflow:hidden;margin-top:5px;text-align:right;text-shadow:0 1px 0 rgba(255,255,255,0.8);}
.product_list .promo{display:inline-block;height:19px;padding-right:5px;line-height:17px;background:url('../img/sale.png') no-repeat right -20px;}
.product_list .promo em{display:inline-block;height:17px;padding:0 5px 2px 15px;color:#fee;text-shadow:1px 1px 0 #600;line-height:17px;background:url('../img/sale.png') no-repeat left top;}
.product_list .actions{position:relative;z-index:9;display:block;padding-top:5px;text-align:center;}
.product_list .end_time_wrapper{display:block;overflow:hidden;padding:3px 8px 3px 3px;color:#999;line-height:20px;text-align:center;background-color:#f6f6f6;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;text-shadow:0 0 0, 0 1px 0 #fff;}
.product_list .end_time_wrapper em{padding:0 1px 0 2px;color:#f53;font-family:Arial,Helvetica,sans-serif;font-size:16px;}
.goods_slider{position:relative;}
.product_list .controls .prev, .product_list .controls .next{display:block;float:left;position:absolute;top:-25px;right:35px;height:19px;width:19px;text-indent:-999em;background:url('../img/scroll_btn.gif') no-repeat left top;}
.product_list .controls .next{right:12px;background-position:right top;}
.product_list .controls .prev:hover{background-position:left bottom;}
.product_list .controls .next:hover{background-position:right bottom;}
.col_sub .product_list li{float:left;width:100%;margin:0;padding:5px 0;border-top:1px solid rgba(0,0,0,0.1);}
.col_sub .product_list li:first-child{border-top-width:0;}
.col_sub .product_list .photo{float:left;width:60px;}
.col_sub .product_list .photo img{height:60px;width:60px;}
.col_sub .product_list .info{display:block;float:left;width:120px;padding:5px 0 5px 10px;}
.col_main .product_list li{clear:none !important;margin:0 10px 10px 0;}
.col_main .product_list li:nth-child(4n){clear:right !important;margin-right:0;}
.filter dl{padding:5px 0;line-height:18px;border-top:1px solid rgba(0,0,0,0.05);}
.filter .first{border-top-width:0;}
.filter dt{float:left;width:100px;padding:5px 0;text-align:right;}
.filter dd{padding:3px 10px 3px 100px;}
.filter dd a{display:inline-block;margin-right:5px;padding:2px 8px;white-space:nowrap;}
.filter dd a:hover{text-decoration:none;background-color:#eee;text-shadow:0 0 0, 0 1px 0 #fff;}
.filter dd a.all{background-color:#eee;}
.filter dd a.current{color:#fff;text-shadow:0 1px 1px rgba(0,0,0,0.3);background-color:#333;background-image:-webkit-linear-gradient(top, #666, #333);background-image:-moz-linear-gradient(top, #aaa, #666);background-image:-o-linear-gradient(top, #666, #333);background-image:-ms-linear-gradient(top, #666, #333);border-radius:3px;}
#main .wrapper > h1{margin:0 10px;font-size:1.6em;font-weight:bold;line-height:2.4em;}
.breadcrumbs{margin-bottom:10px;padding:0 10px;opacity:0.5;}
.breadcrumbs:hover{opacity:1;}
.breadcrumbs code{padding:0 3px;}
.pagination{padding-top:10px;font-size:13px;text-align:right;clear:both;}
.pagination a{display:inline-block;margin-left:2px;padding:2px 8px;background-color:rgba(0,0,0,0.03);border:1px solid rgba(0,0,0,0.3);border-radius:3px;}
.no-rgba .pagination a{background-color:#f7f7f7;border:1px solid #acacac;}
.pagination a:hover{text-decoration:none;background-color:rgba(0,0,0,0.08);border-color:rgba(0,0,0,0.8);}
.no-rgba .pagination a:hover{background-color:#ebebeb;border-color:#2f2f2f;}
.pagination a.current{color:rgba(255,255,255,1);text-shadow:0 1px 1px rgba(0,0,0,0.3);background-color:#666;background-image:-webkit-linear-gradient(top, #aaa, #666);background-image:-moz-linear-gradient(top, #aaa, #666);background-image:-o-linear-gradient(top, #aaa, #666);background-image:-ms-linear-gradient(top, #aaa, #666);-pie-background:linear-gradient(#aaa, #666);border-color:rgba(0,0,0,0.5);}
.no-rgba .pagination a.current{color:#fff;background:#858585;border-color:#333;}
.pagination span{display:inline-block;padding:3px 6px;}
.product_details .bd{padding:0;}
.product_details h1{padding:20px 0 5px;color:#333;font-size:20px;line-height:24px;}
.product_details .intro{color:#999;font-size:14px;line-height:24px;}
.product_details .price_and_no{float:left;width:100%;margin-bottom:10px;padding:20px 0 5px;border-bottom:1px solid #dfdfdf;}
.product_details .basic{float:left;width:100%;padding:10px 0;}
.product_details .basic:empty{display:none;}
.product_details .basic li{float:left;width:210px;margin-right:15px;padding:5px 0;line-height:16px;}
.product_details .basic li strong{font-weight:normal;}
.product_details .basic li.sale_price{padding-bottom:0;line-height:20px;}
.product_details .basic li.sale_price strong{vertical-align:top;}
.product_details .basic li.sale_price .price{color:#f53;font-size:26px;}
.product_details .basic li.sale_price .org_price{padding-left:10px;color:#999;vertical-align:top;}
.product_details .basic li.sale_point{padding-bottom:0;line-height:20px;}
.product_details .basic li.sale_point strong{vertical-align:top;}
.product_details .basic li.sale_point .price{color:#f53;font-family:arial;font-size:26px;}
.product_details .basic .rank_price, .product_details .basic .volume_price{padding-right:10px;}
.product_details .price_and_no .price{float:left;color:#333;font-size:14px;}
.product_details .price_and_no .price strong{color:#f53;font-size:24px;line-height:24px;}
.product_details .price_and_no .price strong span{font-size:18px;}
.product_details .price_and_no .no{float:right;padding-top:5px;color:#999;font-size:14px;}
.product_details .details{float:right;width:650px;margin-bottom:10px;}
.product_details .extra_details{float:left;width:482px;margin-bottom:10px;}
.product_details .end_time_wrapper strong{line-height:28px;vertical-align:top;}
.product_details .end_time_wrapper .end_time{display:inline-block;padding:3px 8px 3px 3px;color:#999;line-height:20px;background-color:#f6f6f6;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;text-shadow:0 0 0, 0 1px 0 #fff;}
.product_details .end_time_wrapper .end_time .countdown_amount{padding:0 3px 0 5px;color:#f53;font-family:Arial,Helvetica,sans-serif;font-size:20px;}
.product_details .actions{float:left;width:420px;margin:20px 0 10px;padding:14px;background-color:rgba(0,0,0,0.03);border:1px solid rgba(0,0,0,0.1);}
.no-rgba .product_details .actions{background-color:#f7f7f7;border:1px solid #dedede;}
.product_details .actions .info{float:left;width:240px;padding:2px 0;line-height:16px;}
.product_details .actions .info strong{font-weight:normal;}
.product_details .actions .stock{padding-left:10px;color:#999;}
.product_details .actions [name='number'], .product_details .actions [name='price']{width:50px;}
.product_details .actions .submit{float:right;width:170px;text-align:right;}
.product_details .properties{float:left;width:100%;margin-top:30px;}
.product_details .price_list{float:left;width:442px;margin-bottom:10px;}
.gallery{width:480px;float:left;margin-bottom:10px;border:1px solid #e8e8e8;}
.gallery .cover{display:block;width:480px;height:480px;}
.gallery .cover img{width:480px;height:480px;font-size:1.1em;}
.gallery .thumb{position:relative;padding:16px 30px;}
.touch .gallery .thumb{padding:16px 18px;}
.gallery .thumb li{display:block;float:left;height:66px;width:66px;padding:2px;text-align:center;}
.gallery .thumb li a{display:block;padding:2px;border:1px solid rgba(0,0,0,0.1);}
.gallery .thumb li a:hover{padding:1px;border:2px solid #f53;}
.gallery .thumb li img{height:60px;width:60px;vertical-align:middle;}
.gallery .thumb li.current a{padding:1px;border:2px solid #f53;}
.gallery .thumb .thumb_inner{position:relative;}
.gallery .controls a{position:absolute;top:41px;left:10px;width:20px;height:20px;text-indent:-999em;background:url('../img/scroll_arrow.png') no-repeat 5px -38px;outline:none;opacity:0.3;-webkit-transition:opacity 0.5s ease-out;-moz-transition:opacity 0.5s ease-out;-o-transition:opacity 0.5s ease-out;-ms-transition:opacity 0.5s ease-out;}
.gallery .controls .next{left:auto;right:10px;background-position:-34px -38px;}
.gallery .controls a:hover{opacity:1;-webkit-transition:opacity 1s ease-out;-moz-transition:opacity 1s ease-out;-o-transition:opacity 1s ease-out;-ms-transition:opacity 1s ease-out;}
.gallery .controls a:active{opacity:0.3;-webkit-transition:opacity 0.1s ease-out;-moz-transition:opacity 0.1s ease-out;-o-transition:opacity 0.1s ease-out;-ms-transition:opacity 0.1s ease-out;}
.product_details .promote_box{clear:both;margin-bottom:10px;font-size:14px;line-height:25px;}
.product_details .promote_box em{font-size:20px;}
.product_details .promote_box .price{font-size:22px;}
.product_promotion{clear:both;padding:10px;margin-bottom:10px;line-height:20px;border:1px solid rgba(0,0,0,0.1);border-top:2px solid rgba(0,0,0,0.8);}
.no-rgba .product_promotion{border:1px solid #e5e5e5;border-top:2px solid #333;}
.product_promotion dt{padding-bottom:5px;font-size:14px;}
.product_promotion dd{margin-bottom:2px;}
.product_promotion .type{margin-right:5px;padding:2px 8px;color:rgba(255,255,255,1);text-shadow:0 1px 1px rgba(0,0,0,0.3);background-color:#333;background-image:-webkit-linear-gradient(top, #666, #333);background-image:-moz-linear-gradient(top, #aaa, #666);background-image:-o-linear-gradient(top, #666, #333);background-image:-ms-linear-gradient(top, #666, #333);border-radius:3px;opacity:0.8;}
.no-rgba .product_promotion .type{color:#fff;background-color:#9c9c9c;}
.product_promotion .type:hover{opacity:1;}
.no-rgba .product_promotion .type:hover{color:#fff;background-color:#898989;}
.product_tags{clear:both;padding:10px;margin-bottom:10px;line-height:20px;background-color:rgba(0,0,0,0.03);border-radius:5px;}
.product_tags h2{padding-bottom:5px;font-size:14px;}
.product_tags .tags{padding:5px 0;line-height:18px;}
.product_tags input{vertical-align:middle;}
.tags .item_wrapper{display:block;margin-bottom:5px;}
.tags_cloud .tags .item_wrapper{display:inline;}
.tags .item{display:inline-block;margin:0 5px 3px 0;padding:3px 5px 3px 12px;line-height:16px;white-space:nowrap;background-color:rgba(0,0,0,0.05);border-radius:10px;}
.tags .item em{display:inline-block;min-width:8px;margin-left:5px;padding:2px 4px;line-height:12px;text-align:center;background-color:#fff;border-radius:7px;}
.tags .item:hover{color:#fff;text-decoration:none;background-color:rgba(0,0,0,0.6);}
.tags .item:hover em{color:rgba(0,0,0,0.6);}
.tags .drop{margin-right:15px;}
.package_list dl{float:left;width:100%;padding:10px 0;border-top:1px solid rgba(0,0,0,0.1);}
.package_list dl:first-child{border-top-width:0;}
.package_list dt{margin-bottom:10px;padding:5px 10px;color:#333;font-size:16px;background-color:rgba(0,0,0,0.03);border-bottom:1px solid rgba(0,0,0,0.1);border-radius:3px;}
.package_list .item_wrapper{display:block;float:left;width:690px;}
.package_list .item{position:relative;display:block;float:left;width:180px;padding-right:50px;background:url('../img/plus.gif') no-repeat 190px 65px;}
.package_list .item:last-child{padding-right:0px;}
.package_list .item .photo{display:block;width:180px;height:180px;}
.package_list .item .photo img{width:180px;height:180px;}
.package_list .item .name{display:block;height:19px;width:180px;margin-top:5px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.package_list .price_wrapper{display:block;float:right;width:200px;padding:10px 0;}
.package_list .price_wrapper .price{display:block;padding-bottom:5px;}
.package_list .price_wrapper .package_price strong{font-size:20px;}
.package_list .action{display:block;float:right;width:200px;margin-top:10px;}
#page_goods #main .box .hd{padding-bottom:3px;background-color:#f6f6f6;border-width:0;border-radius:3px;box-shadow:1px 1px 0 rgba(0,0,0,0.2);}
.product_description{padding:10px 0 20px;color:#333;font-size:14px;line-height:20px;}
.product_description p{padding:10px 0 20px;color:#333;font-size:14px;line-height:20px;}
.product_description img{max-width:100%;height:auto;}
.product_description h1{margin:8px 0;padding:5px 10px;color:#333;font-size:18px;}
.product_description h2{margin:5px 0;padding:5px 10px;color:#333;font-size:16px;background-color:#f6f6f6;border-bottom:1px solid #eee;}
.product_description h3, .product_description h4, .product_description h5{margin:3px 0;padding:5px 10px;color:#333;font-size:14px;}
.product_description em{font-style:italic;}
.product_description table{margin:10px 0;}
.product_description .time em{padding:0 5px;font-size:1.2em;}
.product_description .price{font-size:1.3em;}
.property_list dt{float:left;width:100%;padding:10px 0;font-size:1.4em;text-indent:20px;}
.property_list dt:not(:first-child){margin-top:10px;}
.property_list dd{float:left;width:100%;color:rgba(0,0,0,0.6);font-size:1.2em;background-color:rgba(0,0,0,0.03);}
.property_list dd:nth-child(even){background-color:rgba(0,0,0,0.06);}
.property_list dd strong{display:block;float:left;width:20%;padding:10px 0;color:rgba(0,0,0,0.8);text-indent:20px;}
.property_list dd span{display:block;float:left;width:80%;padding:10px 0;}
.comment_list li{padding:5px 0;}
.comment_list li .info{margin-bottom:5px;padding:5px 10px;font-size:14px;line-height:20px;background-color:rgba(0,0,0,0.03);border-bottom:1px solid rgba(0,0,0,0.1);border-radius:3px;}
.no-rgba .comment_list li .info{background-color:#f3f3f3;border-bottom:1px solid #dadada;}
.comment_list li .info .name{font-size:16px;padding-right:10px;text-shadow:0 0 0, 0 1px 0 #fff;}
.comment_list li .info .time{float:right;font-size:12px;color:rgba(0,0,0,0.3);}
.comment_list li .info .drop{float:right;display:inline-block;padding:2px 8px;white-space:nowrap;color:rgba(255,255,255,1);text-shadow:0 1px 1px rgba(0,0,0,0.3);background-color:#333;background-image:-webkit-linear-gradient(top, #666, #333);background-image:-moz-linear-gradient(top, #aaa, #666);background-image:-o-linear-gradient(top, #666, #333);background-image:-ms-linear-gradient(top, #666, #333);border-radius:3px;opacity:0.8;}
.no-rgba .comment_list li .info .drop{color:#fff;}
.comment_list li .info .drop:hover{opacity:1;}
.comment_list li .talk{padding:10px;font-size:14px;line-height:18px;}
.comment_list li .talk .title{padding:5px 0;}
.comment_list li .talk .type{padding-right:5px;}
.comment_list li .talk .text{display:block;padding:5px 0;}
.comment_list li .talk .reply{margin:5px 0 5px 50px;padding:10px;background-color:rgba(0,0,0,0.03);border-radius:8px;}
.no-rgba .comment_list li .talk .reply{background-color:#f3f3f3;}
.comment_list li .talk .reply p{padding:5px 0;}
.comment_list li .talk .reply .name{color:rgba(255,50,50,0.8);}
.comment_box .pagination{margin-bottom:20px;}
.comment_box .form{padding:10px 20px 20px;background-color:#f6f6f6;border:1px solid #e5e5e5;}
.comment_box .form div.req{top:20px;right:20px;}
.comment_box .form #star_tip{padding:7px 0 0;}
.comment_box .form textarea{max-width:700px;}
.message_wrapper{position:relative;margin:50px 10px;padding:10px 120px;font-size:14px;}
.message_info:before{position:absolute;top:10px;left:20px;content:'i';height:80px;width:80px;color:#fff;line-height:80px;font-family:Georgia;font-size:60px;font-weight:bold;text-align:center;background-color:rgba(0,0,0,0.1);border-radius:40px;}
.message_wrapper dt{margin-bottom:15px;padding:5px 0 10px;color:#f53;line-height:24px;font-size:20px;}
.message_wrapper dt em{padding-left:5px;color:#f53;}
.message_wrapper dd{padding:5px 0;}
.message_wrapper dd em{color:#f53;}
.search_form_wrapper .bd{padding:19px;}
.search_form .price_input{width:50px;}
.promotion_product_list .item{padding:20px 10px;border-top:1px solid rgba(0,0,0,0.1);}
.promotion_product_list .item:first-child{border-top-width:0;}
.promotion_product_list .item h2{float:right;width:740px;margin-bottom:10px;padding:5px 10px;color:#333;font-size:20px;line-height:24px;}
.promotion_product_list .item .photo_wrapper{float:left;width:180px;}
.promotion_product_list .item .photo{display:block;width:180px;}
.promotion_product_list .item .photo img{width:180px;height:180px;}
.promotion_product_list .item .details{float:left;width:280px;padding:10px;}
.promotion_product_list .item .details li{padding:3px 0;line-height:16px;}
.promotion_product_list .item .details li strong{font-weight:normal;white-space:nowrap;}
.promotion_product_list .end_time{padding:2px 8px;color:rgba(255,255,255,1);text-shadow:0 1px 1px rgba(0,0,0,0.3);background-color:#333;background-image:-webkit-linear-gradient(top, #666, #333);background-image:-moz-linear-gradient(top, #aaa, #666);background-image:-o-linear-gradient(top, #666, #333);background-image:-ms-linear-gradient(top, #666, #333);border-radius:3px;opacity:0.8;}
.no-rgba .promotion_product_list .end_time{color:#fff;background-color:#9c9c9c;}
.promotion_product_list .end_time .countdown_amount{margin:0 2px;}
.promotion_product_list .item .actions{float:right;width:210px;padding:14px;background-color:rgba(0,0,0,0.03);border:1px solid rgba(0,0,0,0.1);}
.no-rgba .promotion_product_list .item .actions{background-color:#f7f7f7;border:1px solid #dedede;}
.promotion_product_list .item .actions p{padding:3px 0;line-height:16px;text-align:center;}
.promotion_product_list .item .actions strong{padding-right:5px;font-weight:normal;}
.promotion_product_list .item .actions .button_wrapper{padding-top:10px;}
.promotion_product_list .item .actions .bright_price{padding-bottom:0;line-height:20px;}
.promotion_product_list .item .actions .bright_price strong{vertical-align:top;}
.promotion_product_list .item .actions .bright_price .price{color:#f53;font-size:24px;}
.promotion_product_list .item .actions .bright_price .price span{font-size:18px;}
.activity_list .display_text li{width:100%;padding:5px 0;border-top:1px solid rgba(0,0,0,0.1);}
.activity_list .display_text li.first{border-top-width:0;}
.activity_list .display_text li .photo{float:left;width:50px;height:50px;border-bottom-width:0;}
.activity_list .display_text li .photo img{width:50px;height:50px;}
.activity_list .display_text li .info{float:left;width:460px;padding:0 10px;background-image:none;}
.activity_list .display_text li .promo{top:-1px;right:200px;}
.activity_list .display_text li .actions{float:right;width:160px;padding-top:15px;}
.activity_list .display_text li .actions .brighter_button{margin-right:5px;}
.activity_list .bd{position:relative;}
.activity_list .item{margin-bottom:10px;padding:10px 0;}
.activity_list .show_all{position:absolute;top:15px;right:0;}
.activity_list .item h2{padding:5px 10px;color:#333;font-size:20px;line-height:30px;}
.activity_list dd.name{font-size:20px;}
.activity_list .user_rank em{padding-right:5px;font-size:1.2em;}
.activity_list .number{position:absolute;top:0;right:0;padding:5px 10px;color:#fff;font-size:2em;}
.quotation form{padding:50px 0;text-align:center;line-height:26px;}
.quotation form input, .quotation form select{vertical-align:middle;}
.myship form, .myship table{margin-bottom:10px;}
.myship form select{margin-right:5px;}
.myship_list{width:100%;margin-top:10px;}
.wholesale h4{padding:5px;margin-bottom:10px;color:#000;font-size:1.2em;background:#ddd;border-top:1px solid #ccc;border-left:1px solid #ccc;border-right:1px solid #999;border-bottom:1px solid #999;}
.wholesale h4 a{padding-left:10px;color:#ff6600;font-size:12px;}
.wholesale table{margin-bottom:10px;}
.wholesale .submit_order{margin-bottom:10px;}
.wholesale .submit_order p{font-size:1.2em;line-height:1.5em;}
.wholesale .submit_order textarea{display:block;float:left;width:85%;}
.wholesale .submit_order .action{display:block;float:right;width:10%;padding-top:20px;}
.wholesale .submit_order .button{font-size:1.4em;}
.wholesale .photo{display:block;width:160px;height:160px;padding:2px;margin:0 auto;}
.wholesale .name{display:block;padding:2px;font-size:1.2em;text-align:center;}
.wholesale .table{margin-bottom:10px;}
.wholesale .number{margin-bottom:10px;}
.pick_out a{display:inline-block;padding:2px 8px;margin:0 5px 3px 0;background:#fff;border-width:1px;border-style:solid;border-color:#eee #ccc #ccc #eee;border-radius:3px;}
.pick_out a:hover{color:#fff;text-decoration:none;background:#ff6600;border:1px solid #ff6600;}
.pick_out .table{padding:0;border-width:0;}
.your_choose p{padding:3px 5px;line-height:18px;}
.your_choose p strong{display:inline-block;padding-left:12px;}
.your_choose .action{text-align:center;}
.po_cat_list .text_list a{display:inline-block;padding-left:12px;}
.po_cat_list .text_list sup{display:inline-block;margin-left:5px;padding:2px 6px;line-height:14px;background-color:#eee;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;}
.tags_cloud .bd{padding:14px;}
.tags_cloud .description{padding-bottom:20px;font-size:14px;line-height:18px;}
.brand_details h1{padding:5px;margin-bottom:10px;color:#333;font-size:20px;line-height:24px;border-bottom:1px dotted rgba(0,0,0,0.5);}
.no-rgba .brand_details h1{border-bottom:1px dotted #eee;}
.brand_details .logo{float:left;width:180px;margin:0 20px 10px 0;}
.brand_details .description{margin-bottom:10px;font-size:14px;line-height:20px;text-indent:2em;}
.brand_details .cat_list{clear:both;padding:10px;line-height:18px;border-top:1px solid rgba(0,0,0,0.1);}
.no-rgba .brand_details .cat_list{border-top:1px solid #eee;}
.brand_details .cat_list strong{display:block;margin-bottom:5px;}
.brand_details .cat_list a{display:inline-block;margin:0 5px 5px 0;padding:2px 8px;white-space:nowrap;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;}
.brand_details .cat_list a:hover{text-decoration:none;background-color:#eee;}
.brand_details .cat_list a.current{color:#fff;background:#ff8c22 url('../img/slight_bg.gif') repeat-x left -90px;}
.brand_details .cat_list a span{display:inline-block;margin-left:5px;padding:0 6px;color:#999;background-color:#eee;border-radius:3px;}
.brand_details .cat_list a:hover span, .brand_details .cat_list a.current span{color:#f53;background-color:#fff;}
.brand_list li{display:block;float:left;width:180px;height:90px;margin:0 15px 15px 0;padding:10px 0;text-align:center;}
.brand_list li:nth-child(5n){clear:right;margin-right:0;}
.brand_list .logo{display:block;color:#f53;line-height:60px;font-size:16px;}
.brand_list .logo img{max-width:180px;vertical-align:top;}
.brand_list .name{display:block;padding:4px;line-height:16px;}
.article_title{margin-bottom:10px;padding:8px 0;border-bottom:1px solid rgba(0,0,0,0.2);}
.article h1{display:inline;padding-left:10px;color:#333;font-size:26px;line-height:30px;}
.article_info{float:right;clear:right;padding:14px 10px 0;color:#999;line-height:16px;}
.article_info span{padding-left:10px;}
.article_content{padding:10px 0 20px;color:#333;font-size:14px;line-height:20px;}
.article_content h2{margin:5px 0;padding:5px 10px;color:#333;font-size:16px;background-color:rgba(0,0,0,0.03);border-bottom:1px solid rgba(0,0,0,0.1);border-radius:3px;}
.article_content h3, .article_content h4, .article_content h5{margin:3px 0;padding:5px 10px;color:#333;font-size:14px;}
.article_content em{font-style:italic;}
.article_content p{margin-bottom:10px;padding:5px 10px;text-indent:2em;}
.article_content img{max-width:100%;height:auto;}
.article_content table{margin:10px 0;}
.article_content dl.faq{padding:5px 10px;}
.article_content dl.faq dd{margin-left:2em;margin-bottom:15px;}
.article .download_wrapper{padding:10px 0;text-align:center;}
.article .nearby{margin-top:10px;padding:10px;line-height:18px;border-top:1px solid rgba(0,0,0,0.1);}
.article .nearby .next{float:right;}
#article_search{padding-bottom:10px;text-align:right;}
.article_list li{padding:10px;font-size:14px;line-height:20px;border-top:1px solid rgba(0,0,0,0.1);}
.article_list .first{border-top-width:0;}
.article_list li .title{display:inline-block;width:500px;}
.article_list li .author, .article_list li .time{float:right;padding-left:10px;color:#999;font-size:12px;font-weight:normal;}
.article_list li.head{margin-bottom:3px;color:#444;background-color:#fff;border-bottom:1px dashed #888;}
.article_list li.even{background-color:transparent;}
.topic h1{margin-bottom:10px;padding:8px 10px;color:#333;font-size:26px;line-height:30px;border-bottom:1px solid rgba(0,0,0,0.2);}
.topic h2{padding:8px 10px;font-size:1.2em;}
.compare_wrapper .bd{padding:14px;}
.compare_wrapper .button{margin:3px;}
.progress_bar{height:60px;margin:0 10px 10px;}
.progress_bar ol{list-style:none;counter-reset:li;}
.progress_bar li{float:left;height:40px;width:130px;margin-right:10px;padding:10px 20px;color:rgba(0,0,0,0.5);font-size:14px;line-height:40px;background-color:rgba(0,0,0,0.03);border-radius:5px;}
.no-rgba .progress_bar li{width:90px;color:#7b7b7b;background-color:#f7f7f7;}
.progress_bar li:before{content:counter(li);counter-increment:li;float:left;height:30px;width:30px;margin-right:10px;color:rgba(0,0,0,0.3);line-height:30px;font-size:22px;text-align:center;background-color:transparent;border:5px solid rgba(0,0,0,0.08);border-radius:20px;}
.no-rgba .progress_bar li:before{display:none;}
.progress_bar .current{color:rgba(0,0,0,0.8);font-size:16px;background-color:rgba(0,0,0,0.06);}
.no-rgba .progress_bar .current{color:#303030;background-color:#f0f0f0;}
.progress_bar .current:before{color:rgba(0,0,0,0.5);border-color:rgba(0,0,0,0.3);}
.flow_wrapper .box h4{padding:8px 10px;font-size:1.2em;}
.flow_wrapper .box .form h4{padding:0;margin:0 0 .6em;color:#ff6600;font-size:18px;}
.flow_wrapper .box .content{padding:0;border-width:0;}
.flow_wrapper .form label b, .flow_wrapper .form .label b{width:12em;}
.flow_wrapper .form div.submit_wrap{float:none;padding:5px 0 5px 12em}
.flow_wrapper .form label .directions{margin-left:12em;}
.flow_wrapper .form label select{width:auto}
.cart_produst_list .photo{float:left;width:60px;padding-right:10px;}
.cart_produst_list .photo img{width:60px;}
.cart_produst_list .name{display:block;margin-bottom:10px;font-size:1.2em;}
.cart_produst_list .package_name{padding:5px;font-size:14px;line-height:18px;}
.cart_produst_list .extra_info em{margin-right:5px;padding:2px 8px;color:#fff;text-shadow:0 1px 1px rgba(0,0,0,0.3);background-color:#333;background-image:-webkit-linear-gradient(top, #666, #333);background-image:-moz-linear-gradient(top, #aaa, #666);background-image:-o-linear-gradient(top, #666, #333);background-image:-ms-linear-gradient(top, #666, #333);border-radius:3px;}
.cart_produst_list .number{width:30px;}
.cart_produst_list .price{font-size:1.2em;line-height:2em;}
.cart_produst_list .subtotal{font-weight:bold;}
.cart_produst_list .quantity input{width:3em;}
.cart_produst_list .drop{display:inline-block;margin-top:5px;padding:2px 8px;white-space:nowrap;color:rgba(255,255,255,1);text-shadow:0 1px 1px rgba(0,0,0,0.3);background-color:#333;background-image:-webkit-linear-gradient(top, #666, #333);background-image:-moz-linear-gradient(top, #aaa, #666);background-image:-o-linear-gradient(top, #666, #333);background-image:-ms-linear-gradient(top, #666, #333);border-radius:3px;opacity:0.8;}
.no-rgba .cart_produst_list .drop{color:#fff;}
.cart_produst_list .drop:hover{opacity:1;}
.cart_produst_list .actions p{float:left;font-size:14px;text-align:left;}
.cart_produst_list .actions p.cart_action{float:right;}
.cart_produst_list .package_product_list em{margin-right:5px;padding:2px 5px;background-color:#eee;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;}
.checkout_produst_list .package_product_list{display:none;}
.flow_wrapper .consignee_list{margin-top:0;}
.flow_wrapper .favourable_list .data_table{margin-bottom:10px;}
.consignee_list form{margin-bottom:10px;}
.flow_wrapper .zoom{padding-right:10px;}
.order_total .complete{padding:10px 0;color:#999;font-size:12px;line-height:14px;}
.order_total .total_list{padding-bottom:10px;font-size:14px;line-height:16px;text-align:right;border-bottom:1px dashed #ccc;}
.order_total .total_fee{padding-top:10px;font-size:1.3em;line-height:1.4em;text-align:center;}
.order_total .total_fee .price{font-size:1.4em;}
.flow_action{display:inline-block;width:100%;padding:30px 0 50px;}
.flow_action .next{float:right;margin-right:380px;}
.flow_action .back{float:right;margin-right:20px;line-height:40px;font-size:16px;}
.checkout_wrapper .options{float:left;width:630px;}
.checkout_wrapper .option_title{margin-top:-1px;padding:8px 15px;background:#f8f8f8 url('../img/slight_bg.gif') repeat-x left bottom;border:1px solid #ddd;text-shadow:0 0 0, 0 1px 0 #fff;}
.checkout_wrapper .option_title h2{font-size:14px;line-height:18px;}
.checkout_wrapper .option_inner{padding:12px;}
.checkout_wrapper .option_item{float:left;width:180px;padding:10px 6px;}
.checkout_wrapper .option_item label{position:relative;display:block;height:50px;width:150px;margin:0 auto 5px;font-size:14px;line-height:50px;text-align:center;background:#fafafa url('../img/option_item_bg.gif') no-repeat left top;border:1px solid #eee;}
.checkout_wrapper .option_item label .name{display:block;height:50px;width:150px;overflow:hidden;}
.checkout_wrapper .option_item label:hover, .checkout_wrapper .option_item label.hover{border-color:#ccc;}
.checkout_wrapper .option_item label.checked{border-color:#f53;}
.checkout_wrapper .option_item label.disabled{opacity:0.5;cursor:default;}
.checkout_wrapper .option_item label .status{position:absolute;left:-2px;top:-2px;display:none;height:50px;width:150px;background:transparent url('../img/option_item_bg.gif') no-repeat left bottom;border:2px solid #f53;}
.checkout_wrapper .option_item label.checked .status{display:block;}
.checkout_wrapper .option_item img{position:absolute;left:0;top:0;height:50px;width:150px;}
.checkout_wrapper .option_item input{position:absolute;right:5px;bottom:5px;}
.checkout_wrapper .option_item .info{display:block;width:148px;margin:0 auto 5px;line-height:16px;text-align:center;}
.checkout_wrapper .option_item .info .price{display:block;}
.checkout_wrapper .option_item .info .free{display:block;color:#999;}
.checkout_wrapper .option_item .info .not_supported{display:block;color:#999;}
.checkout_wrapper .option_extra{clear:both;}
.checkout_wrapper .option_inner .current_intro{display:block;clear:both;margin-bottom:10px;padding:9px;line-height:16px;background-color:#f8f8f8;border:1px solid #eee;}
.checkout_wrapper .option_inner .current_intro a{padding:0 2px;text-decoration:underline;}
.checkout_wrapper .option_inner .insure_wrapper{text-align:right;}
.checkout_wrapper .option_inner .insure_disabled{display:none;}
.checkout_wrapper .card_message{clear:both;padding:9px;background-color:#f8f8f8;border:1px solid #eee;}
.checkout_wrapper .card_message h4{float:left;padding:2px 5px;}
.checkout_wrapper .card_message textarea{width:450px;}
.checkout_wrapper .postscript textarea{width:550px;margin-left:20px;}
.checkout_wrapper .current_option h2 span{color:#b00;}
.checkout_wrapper .later_option .option_inner{display:none;}
.checkout_wrapper .extra_options{clear:both;padding:9px 19px;background-color:#f8f8f8;border:1px solid #eee;}
.checkout_wrapper .extra_options .item{float:left;width:100%;padding:5px 0;border-bottom:1px dotted #eee;}
.checkout_wrapper .extra_options .last{border-bottom-width:0;}
.checkout_wrapper .extra_options h3{width:80px;float:left;font-size:12px;line-height:28px;}
.checkout_wrapper .extra_options .inner{float:left;}
.checkout_wrapper .extra_options .price_input{width:50px;margin-right:5px;}
.checkout_wrapper .extra_options .text_input{width:100px;margin-right:5px;}
.checkout_wrapper .details{float:right;width:300px;padding:9px;background-color:#fef9e6;border:1px solid #ffedad;}
.checkout_wrapper .detail_inner{padding:0 5px;}
.checkout_wrapper .details .title{padding:5px 9px;border:1px solid #FFF2BC;background:#fff url('../img/order_title_bg.gif') repeat left top;}
.checkout_wrapper .details .title a{float:right;}
.checkout_wrapper .cart_list li{position:relative;float:left;width:290px;padding:5px;border-bottom:1px dotted rgba(0,0,0,0.5);}
.checkout_wrapper .cart_list .photo{display:block;float:left;width:40px;height:40px;margin-right:5px;padding:2px;background-color:#fff;border:1px solid #eee;}
.checkout_wrapper .cart_list .photo img{width:40px;height:40px;}
.checkout_wrapper .cart_list .name em{margin-left:3px;}
.checkout_wrapper .cart_list .price{}
.checkout_wrapper .cart_list .drop{visibility:hidden;position:absolute;top:15px;right:5px;}
.checkout_wrapper .cart_list li:hover .drop, .checkout_wrapper .cart_list li.hover .drop{visibility:visible;}
.checkout_wrapper .cart_list .total{clear:both;padding:5px 10px;text-align:right;}
.checkout_wrapper .cart_list .next{padding:5px 10px;text-align:right;}
.checkout_wrapper .consignee_info{padding:10px;font-size:14px;line-height:18px;}
.checkout_wrapper .consignee_info strong{color:#999;font-size:12px;font-weight:normal;}
.checkout_wrapper .next{float:right;margin-right:0;}
.checkout_wrapper .back{float:right;margin-right:10px;}
.checkout_wrapper .goods_card textarea, .checkout_wrapper .other_info textarea{width:450px;}
.checkout_wrapper .other_info{line-height:25px;}
.checkout_wrapper .other_info span{line-height:25px;vertical-align:middle;}
.checkout_wrapper .other_info .price_input{width:50px;}
.checkout_wrapper .other_info p{padding:3px 0;}
.flow_done{margin-top:20px;}
.flow_done .pay_online{margin:30px;text-align:center;}
.virtual_card{padding:30px 10px 30px 30px;}
.virtual_card li{float:left;width:300px;margin-right:30px;padding:20px 30px 40px 30px;background-color:#f6f6f6;border-radius:10px;-moz-border-radius:10px;-webkit-border-radius:10px;}
.virtual_card li span{display:block;line-height:24px;}
.virtual_card li .type{margin-bottom:10px;font-size:16px;}
.product_description img.left{float:left;margin:2px 20px 16px 0;}
.product_description img.right{float:right;margin:2px 0 16px 20px;}
.product_description img.reflection{margin-bottom:0;}
.product_description .back_to_top{display:block;float:right;height:22px;margin:10px 0;padding-right:14px;font-size:12px;line-height:22px;}
.product_description .section{margin-top:36px;padding-top:18px;border-top:1px solid #e5e5e5;}
.product_description .section h2{margin-bottom:25px;font-size:18px;background-color:transparent;border-bottom-width:0;}
.product_description .section img.across{display:block;margin:0 auto 25px;}
.product_description .grid5col{margin:10px 0 20px;padding:10px 0;text-align:left;}
.product_description .grid5col .column{float:left;width:180px;padding-left:15px;}
.product_description .grid5col .column.first{padding-left:0;}
.product_description .grid5col .column h3{margin-bottom:5px;font-size:14px;line-height:18px;}
.product_description .grid5col .column h4{padding:0;font-size:12px;line-height:18px;}
.product_description .grid5col .column p{padding:0;color:#666;font-size:12px;line-height:18px;}
.product_description .grid3col{margin:10px 0 20px;padding:10px 0;text-align:left;}
.product_description .grid3col .column{float:left;width:300px;padding-left:30px;}
.product_description .grid3col .column.first{padding-left:0;}
.product_description .grid3col .column h3, .product_description .grid3col .column h4, .product_description  .grid3col .column p{padding:0;font-size:12px;line-height:18px;}
.product_description .grid3col .column h3{font-size:14px;}
.banner{padding:0 10px;margin-bottom:10px;}
.banner_small{display:none;margin-bottom:10px;}
.categories li{float:left;width:100%;padding:5px 0;}
.categories li a{float:left;width:100px;padding:0 10px;font-weight:bold;}
.categories li .sub_cat{float:left;width:840px;}
.categories li .sub_cat li{float:left;width:auto;padding:0 5px;}
.categories li li{float:none;width:auto;padding:0;position:relative;}
.categories li li a{float:none;width:auto;padding:0;font-weight:normal;}
.categories li li .sub_cat{display:none;position:absolute;left:2px;top:18px;z-index:100;width:auto;min-width:80px;padding:5px 10px;background-color:#fff;border:1px solid #e3e3e3;border-radius:5px;box-shadow:2px 2px 2px rgba(0,0,0,0.05);}
.categories li li:hover .sub_cat{display:block;}
.categories li li .has_sub:after{content:'';display:inline-block;width:0;height:0;overflow:hidden;margin-left:2px;margin-bottom:-4px;border:4px solid transparent;border-top-color:rgba(0,0,0,0.3);vertical-align:middle;}
.invoice_list li{float:left;width:172px;padding:5px 10px;line-height:18px;}
.invoice_list .title{display:block;float:left;width:55px;}
.invoice_list .data{display:block;float:left;width:115px;}
.invoice_list a:hover{color:#ff6600;text-decoration:underline;}
.order_query .bd{position:relative;}
.order_query .main{text-align:center;}
.order_query input[type='text']{width:150px;margin-bottom:10px;}
.order_query p{line-height:18px;}
.order_query p em{display:block;float:left;width:50px;}
.order_query p span{display:block;float:left;width:120px;}
.order_query p a:hover{color:#ff6600;text-decoration:underline;}
.brands li{float:left;display:block;margin-bottom:10px;text-align:center;}
.brands li img{max-width:100%;vertical-align:top;}
.vote .bd{position:relative;}
.vote h4{font-size:14px;line-height:18px;}
.vote .count{padding:5px 0 10px;color:#999;}
.vote label{display:block;padding:2px 0;}
.vote label input{vertical-align:middle;}
.vote label em{padding-left:3px;color:#999;font-size:.8em;}
.vote .actions{padding-top:10px;text-align:center;}
.subscription .bd{position:relative;}
.subscription form{text-align:center;}
.subscription input[type='text']{width:150px;margin-bottom:10px;}
.help_center li a{display:block;padding:3px 10px 3px 20px;}
.help_center li .title a{margin:5px 0;padding:5px 10px;color:#333;font-size:14px;background-color:rgba(0,0,0,0.03);border-bottom:1px solid rgba(0,0,0,0.1);border-radius:3px;}
.help_center li:first-child .title a{margin-top:0;}
.goods_article li{padding:5px;line-height:16px;}
.promotion_info .text_list li{padding:5px 0;line-height:20px;}
.promotion_info .type{margin-right:5px;padding:2px 5px;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;}
.promotion_info .type:hover{color:#fff;}
.article_category a.level_1{display:block;padding:5px;font-size:14px;line-height:16px;}
.article_category ul.level_2{padding:5px;}
.article_category a.level_2{display:block;padding:2px;line-height:14px;}
.four_col{float:left;width:100%;}
.four_col .box{float:left;width:225px;}
.user_form label b, .user_form .label b{text-align:right;}
.register_closed{display:block;padding:50px 0;font-size:1.5em;text-align:center;}
.account_tips{margin:0 10px 10px;background-color:rgba(0,0,0,0.06);border-radius:5px;}
.no-rgba .account_tips{background-color:#ececec;}
.account_tips .hd{border-color:rgba(255,255,255,0.8)}
.account_tips .bd p{margin-bottom:10px;padding:0 10px;}
#user_nav{margin:0 10px 10px;}
#user_nav ul{padding:20px;background-color:rgba(0,0,0,0.03);border-radius:5px;}
.no-rgba #user_nav ul{background-color:#f3f3f3;}
.ie6 #user_nav li{height:0;}
#user_nav li a{display:block;padding:3px 0 3px 22px;color:#000;font-size:14px;line-height:20px;text-decoration:none;background:url('../img/user_nav_icon.png') no-repeat 0 100px;opacity:0.6;}
#user_nav li a:hover{opacity:1;}
#user_nav li.current a{font-weight:bold;opacity:0.8;}
#user_nav .user_default a{background-position:0 7px;}
#user_nav .user_profile a{background-position:0 -32px;}
#user_nav .user_order_list a{background-position:0 -75px;}
#user_nav .user_affiliate a{background-position:0 -113px;}
#user_nav .user_collection_list a{background-position:0 -193px;}
#user_nav .user_tag_list a{background-position:0 -233px;}
#user_nav .user_message_list a{background-position:0 -273px;}
#user_nav .user_account a{background-position:0 -313px;}
.user_status{padding:10px;line-height:18px;}
.user_status .hello{margin-right:10px;font-size:16px;}
.user_status .hello em{padding-left:3px;}
.user_status .email_valid{display:block;margin-right:10px;}
.user_status .email_valid a{margin-left:5px;}
.user_status .rank, .user_status .log{margin-right:10px;color:#999;}
.user_dashboard .item{display:inline;float:left;height:100px;width:170px;margin-left:20px;background-color:#eee;border:1px solid #e8e8e8;text-shadow:0 1px 1px rgba(255,255,255,0.8);background-image:-webkit-linear-gradient(top, #fff, #f0f0f0);background-image:-moz-linear-gradient(top, #fff, #f0f0f0);background-image:-o-linear-gradient(top, #fff, #f0f0f0);background-image:-ms-linear-gradient(top, #fff, #f0f0f0);border-radius:5px;}
.user_dashboard .item:first-child{margin-left:0;}
.user_dashboard .item .item_inner{display:block;height:100px;width:165px;text-decoration:none;}
.user_dashboard .item .item_inner .count{display:block;height:63px;width:170px;overflow:hidden;text-align:center;color:#333;font-size:32px;font-weight:bold;line-height:63px;}
.user_dashboard .item .item_inner .label{display:block;height:37px;width:160px;overflow:hidden;margin:0 5px;text-align:center;font-size:16px;font-weight:bold;line-height:37px;border-top:1px solid #e8e8e8;}
.user_dashboard .item .price sub{display:none;}
.user_dashboard .item .price span{font-size:26px;}
.merge_order p{padding-top:10px;font-size:1.2em;line-height:1.3em;}
.merge_order select{margin-right:5px;}
.generate_code{width:100%;}
.generate_code .options{width:300px;float:left;}
.generate_code .options input[type='text'], .generate_code .options input[type='password']{width:20px;}
.generate_code .code_wrapper{width:300px;float:right;}
.generate_code .code_wrapper textarea{height:120px;width:280px;margin:0;}
.affiliate_wrapper h2, .consignee_list h2{margin-bottom:10px;padding:5px 10px;font-size:1.2em;background-color:#f6f6f6;border-radius:3px;box-shadow:1px 1px 0 rgba(0,0,0,0.2);}
.affiliate_wrapper table{margin-bottom:10px;}
.affiliate_code label{display:block;padding-bottom:10px;}
.affiliate_code label input{width:180px;margin-left:5px;}
.affiliate_code_goods .preview table, .affiliate_code_goods .preview table tbody{border-width:0;}
.affiliate_code_goods .preview th, .affiliate_code_goods .preview td{border-top:none;border-bottom:none;border:none;}
.affiliate_code_goods .item{margin-bottom:10px;}
.affiliate_code_goods .item .label{padding:5px;}
.affiliate_code_goods .item .label a{float:right;}
.affiliate_code_goods .item textarea{width:98%;}
.affiliate_code table table,
.affiliate_code table table tbody,
.affiliate_code table table tr,
.affiliate_code table table td,
.affiliate_code table table th{background-color:transparent !important;border-width:0;}
.affiliate_code .item{padding-bottom:10px;}
.affiliate_code .item em{display:block;padding-bottom:5px;font-size:1.2em;}
.affiliate_code .item a{display:block;padding-top:5px;}
.affiliate_code .type_item{float:left;width:355px;padding:10px;}
.affiliate_code .type_item h3{padding:5px 0;border-bottom:1px solid #e8e8e8;}
.affiliate_code .type_item .preview{height:40px;padding:20px 10px;line-height:40px;text-align:center;}
.affiliate_code .type_item h4{margin-bottom:10px;}
.funds .actions{padding:5px 0;}
.consignee_list input[type='text'],.consignee_list input[type='password'],.consignee_list input[type='number'],.consignee_list input[type='email'],.consignee_list input[type='url'],.consignee_list input[type='tel']{width:160px;}
.order_list td{line-height:26px;}
.order_list .button{line-height:1.6em;}
.order_list .order_id{font-size:1.2em;}
.order_list .handle, .order_list .handler, .order_list .order_status{text-align:center;}
.order_list .order_status em, .order_list .handler .status, .order_detail .status{padding:3px 8px;line-height:20px;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;}
.order_status_0{color:#fff;background-color:#999;}
.order_status_1, .order_status_5, .order_status_6{color:#fff;background-color:#ccc;}
.order_status_2, .order_status_3, .order_status_4{color:#fff;background-color:#555;}
.pay_status_1{color:#fff;background-color:#999;}
.pay_status_2{color:#fff;background-color:#ccc;}
.pay_status_0{color:#fff;background-color:#555;}
.shipping_status_1, .shipping_status_3, .shipping_status_4, .shipping_status_5{color:#fff;background-color:#999;}
.shipping_status_2{color:#fff;background-color:#ccc;}
.shipping_status_0{color:#fff;background-color:#555;}
.order_detail h2{margin:10px 0;padding:5px 10px;color:#333;font-size:14px;background-color:rgba(0,0,0,0.03);border-bottom:1px solid rgba(0,0,0,0.1);border-radius:3px;}
.order_detail h2 .extra{float:right;font-size:14px;}
.order_detail .status{margin-right:5px;background-color:#eee;}
.order_detail .order_id{font-size:1.2em;}
.order_detail .view_message{float:right;}
.order_detail .invoice_no a{display:inline-block;padding:3px;font-size:14px;}
.order_product_list p{margin-bottom:5px;line-height:18px;}
.order_product_list .photo img{float:left;height:60px;width:60px;margin-right:10px;}
.order_product_list [name=surplus]{width:50px;margin:0 5px;}
.order_product_list .extra_info{color:#999;}
.order_product_list .extra_info em{margin-left:2px;padding:2px 5px;color:#fff;background-color:#ff8c22;border-radius:3px;}
.user .box h4{padding:8px 10px;font-size:1.2em;}
.user .box .form h4{padding:0;margin:0 0 .6em;color:#b00;font-size:18px;}
.user .box .content{padding:0;border-width:0;}
.user .form label b, .user .form .label b{width:12em;}
.user .form div.submit_wrap{padding:5px 0 5px 12em}
.user .form label .directions{margin-left:12em;}
.user .form label select{width:auto;}
.address_form label,.address_form .label{width:50%;}
.address_form label b,.address_form .label b{text-align:right;}
.address_form .region_select{width:100%;}
.pay_action{padding:10px;text-align:center;}
.account_log{padding:5px;line-height:20px;background:#fff;border:1px solid #eee;}
.account_log dt{margin-bottom:5px;padding:5px 10px;color:#333;line-height:20px;background-color:#f6f6f6;border-bottom:1px solid #eee;}
.account_log dd p{overflow:hidden;padding:5px 10px;line-height:20px;}
.account_log dd p:nth-child(even){background-color:#f8f8f8;}
.account_log .col_1,.account_log .col_2,.account_log .col_3,.account_log .col_4,.account_log .col_5,.account_log .col_6,.account_log .col_7{display:inline-block;vertical-align:top;}
.account_log .col_1{width:80px;}
.account_log .col_2{width:50px;}
.account_log .col_3{width:100px;}
.account_log .col_4{width:150px;margin-right:5px;}
.account_log .col_5{width:145px;}
.account_log .col_6{width:80px;}
.account_log .col_7{width:80px;}
.account_log_total{padding:5px 10px;}
/* =media */
@media screen and (max-width: 800px), screen and (max-device-width: 800px) {
body{min-width:640px;}
.wrapper{width:640px;}
#main .col_main{width:640px;}
#main .col_sub{width:640px;}
input[type='text'], input[type='password'], input[type='number'], input[type='email'], input[type='url'], input[type='tel']{width:13em;}
.message_wrapper{padding:5px;}
#top_nav{display:none;}
#account_area{width:640px;padding:12px 0 8px;}
#search_bar{width:280px;height:30px;}
#search_bar input[type=text]{width:235px;}
#header_nav{display:none;width:640px;margin:10px 0;padding:0;background-color:rgba(255,255,255,0.8);border-radius:5px;}
#page_index #header_nav{display:block;}
#header_nav ul{float:left;width:100%;padding:10px 0;}
#header_nav li{width:100%;padding:0;border-bottom:1px solid rgba(0,0,0,0.1);}
#header_nav li:first-child{border-top:1px solid rgba(0,0,0,0.1);}
#header_nav li > a{display:block;padding:10px 10px 10px 15px;font-size:14px;}
#header_nav li > a.has_sub{float:left;width:60px;}
#header_nav li > a.has_sub:after{display:none;}
#header_nav li > a:not(.has_sub):after{content:'';float:right;width:20px;height:20px;background:url('../img/scroll_arrow.png') no-repeat -34px -38px;opacity:0.5;}
#header_nav li > a:not(.has_sub):active:after{opacity:1;}
#header_nav li:hover > a.has_sub{padding:10px 10px 10px 15px;border:none;background-color:transparent;}
#header_nav li .sub_nav{display:block;float:left;position:static;width:555px;background-color:transparent;border:none;box-shadow:none;}
#header_nav li .inner{display:block;float:left;padding:0;background-color:transparent;}
#header_nav li .sub_nav a{display:block;float:left;margin:2px;padding:8px 15px;font-size:14px;background-color:rgba(0,0,0,0.06);border-radius:5px;}
#header_nav li .sub_nav a:active{color:rgba(255,255,255,0.8);background-color:rgba(0,0,0,0.8);}
#footer .wrapper{width:640px;}
#links{width:620px;}
#links > ul > li{width:206px;}
#bottom_nav{display:none;}
#copyright{padding:0 10px;}
.box{padding:0;}
.slider_wrapper{display:none;}
.product_list li{width:160px;margin:0;}
.product_list li:nth-child(5n){clear:none;margin-right:0;}
.product_list .photo img{height:160px;width:160px;}
.product_list .name{display:none;}
.product_list .price{position:absolute;right:0;bottom:0;padding-right:5px;}
.product_list .actions{position:absolute;left:0;bottom:0;text-align:left;}
.tab_wrapper{margin:0;}
.tab_wrapper .extra{height:auto;padding:10px;}
.tab_wrapper .extra .pagination{padding:0;}
.tabs a{padding: 0 15px;}
.pagination{padding-left:10px;padding-right:10px;}
.pagination span, .pagination a{margin-bottom:3px;}
.product_details .details{width:300px;padding:0 10px;}
.product_details .extra_details{width:320px;}
.product_details .actions{width:270px;margin:20px 0 10px;padding:14px;border:1px solid rgba(0,0,0,0.1);}
.product_details .actions .info{width:100px;}
.product_details .actions [name='number'], .product_details .actions [name='price']{width:30px;}
.product_details .actions .stock{display:none;}
.product_details .actions .submit{float:right;width:170px;text-align:right;}
.product_details .price_list{width:292px;}
.product_details .price_list dt{float:none;}
.product_details .price_list dd{padding:3px 9px 3px 9px;}
.product_details .price_list dd p .price{width:135px;}
.gallery{width:318px;}
.gallery .cover{width:318px;height:318px;}
.gallery .cover img{width:318px;height:318px;}
.property_list dd strong{width:40%;}
.property_list dd span{width:60%;}
.comment_box .form textarea{max-width:400px;}
#page_article_cat .col_sub,.article_list li .author,.article_list li .time{display:none;}
.article_list li .title{width:300px;}
#article_search{text-align:center;}
.article h1{font-size:20px;}
.promotion_product_list .item h2{width:420px;}
.promotion_product_list .item .details{width:200px;}
.promotion_product_list .item .actions{width:200px;padding:14px 4px;}
.progress_bar{margin:0 5px 10px;}
.progress_bar li{padding:8px 10px;}
.progress_bar li:last-child{margin-right:0;}
.flow_wrapper .form label b, .flow_wrapper .form .label b{width:9em;}
.cart_produst_list col:nth-of-type(4), .cart_produst_list th:nth-of-type(4), .cart_produst_list td.nth-of-type(4){display:none;}
.cart_produst_list .cart_action .text_button{display:none;}
.flow_action .next{margin-right:220px;}
.checkout_wrapper .details{width:620px;}
.checkout_wrapper .options{width:640px;margin-bottom:10px;}
.checkout_wrapper .option_inner{padding:5px;}
.checkout_wrapper .option_item{width:152px;margin:0 5px 5px 0;padding:0;}
.checkout_wrapper .option_item label{margin-bottom:0;}
.checkout_wrapper .option_item .info{display:none;}
.checkout_wrapper .postscript textarea{width:570px;}
.checkout_wrapper .extra_options h3{float:none;}
.categories > li > .sub_cat{width:520px;}
.order_query input[type='text'], .subscription input[type='text']{width:220px;}
.four_col .box{width:300px;padding:0 10px;}
.account_tips .hd h3{padding:3px 20px 0;}
.account_tips .bd p{padding:0 20px;}
#user_nav{float:left;clear:both;margin:0 10px 10px;}
#user_nav ul{float:left;width:600px;padding:10px;}
#user_nav ul li{float:left;width:140px;}
.user_dashboard .item{width:158px;margin:0;}
.user_dashboard .item .item_inner{width:158px;}
.user_dashboard .item .item_inner .count{width:158px;}
.user_dashboard .item .item_inner .label{width:148px;}
.affiliate_code .type_item{width:300px;}
.order_list col:nth-of-type(2),.order_list th:nth-of-type(2),.order_list td:nth-of-type(2){display:none;}
.banner{padding:0;}
.banner img{height:auto;}
}
@media screen and (max-width: 460px), screen and (max-device-width: 460px) {
body{min-width:320px;}
.wrapper{width:320px;}
#main .col_main{width:320px;}
#main .col_sub{width:320px;}
.form label .directions{width:15em;margin-left:6em;}
.form label b,.form .label b{width:6em;}
.form .label em.after,.form label em.after{clear:both;margin-left:7em;}
.form div.submit_wrap{padding:5px 0 5px 6em}
.message_box{width:240px;padding:10px;}
.message_box:before{display:none;}
.message_info:before{display:none;}
#account_area{display:none;width:320px;}
#page_index #account_area{display:block;}
#search_bar{display:none;margin-top:8px;padding:10px;}
#page_index #search_bar{display:block;}
#search_bar input[type=submit]{top:10px;right:10px;}
#header_nav{width:320px;margin:0;}
#header_nav li .sub_nav{width:235px;}
#footer .wrapper{width:320px;}
#links{width:300px;}
#links > ul > li{width:150px;}
.pagination .total{display:block;}
.property_list dd strong{width:100%;}
.property_list dd span{width:100%;padding-top:0;text-indent:20px;}
.comment_box .form{padding:10px;}
.comment_box .form textarea{max-width:170px;}
.comment_box .form label b, .comment_box .form .label b{text-align:right;}
.promotion_product_list .item h2{width:300px;padding:5px 0;}
.promotion_product_list .item .photo_wrapper{margin-left:60px;}
.promotion_product_list .item .details{margin-left:45px;}
.promotion_product_list .item .actions{margin-right:45px;}
.progress_bar{margin:0 6px 10px;}
.progress_bar li{height:50px;width:63px;margin-right:5px;padding:5px;line-height:18px;text-align:center;}
.progress_bar li.current{font-size:14px;}
.progress_bar li:before{display:block;height:20px;width:20px;margin:0 18px 3px;font-size:16px;line-height:20px;border-width:3px;border-radius:15px;}
.cart_produst_list th:nth-of-type(4), .cart_produst_list td.subtotal{display:none;}
.cart_produst_list .photo{float:none;padding-right:0;}
.flow_action .next{margin-right:30px;}
.checkout_wrapper .details{width:300px;}
.checkout_wrapper .options{width:320px;}
.checkout_wrapper .option_item:nth-child(2n){clear:right;margin-right:0;}
.checkout_wrapper .card_message textarea{width:270px;}
.checkout_wrapper .postscript textarea{width:290px;margin-left:0;}
.categories > li > .sub_cat{width:300px;padding:10px;}
.user_form .quick_buy{margin-top:10px;}
#user_nav ul{width:280px;}
.generate_code label b,.generate_code .label b{width:9em;}
.generate_code div.submit_wrap{padding:5px 0 5px 9em}
.order_list col:nth-of-type(2),.order_list col:nth-of-type(3),.order_list col:nth-of-type(5),.order_list th:nth-of-type(2),.order_list th:nth-of-type(3),.order_list th:nth-of-type(5),.order_list td:nth-of-type(2),.order_list td:nth-of-type(3),.order_list td:nth-of-type(5){display:none;}
.order_product_list .photo img{float:none;display:block;margin-right:0;}
.address_form label,.address_form .label{width:100%;}
.address_form label b,.address_form .label b{width:9em;}
.address_form div.submit_wrap{padding:5px 0 5px 9em}
.message_form label textarea{width:170px;}
.account_form label textarea{width:170px;}
.payment_method_list col:nth-of-type(3),.payment_method_list th:nth-of-type(3),.payment_method_list td:nth-of-type(3){display:none;}
.banner{display:none;}
.banner_small{display:block;}
}
